body{
    text-align: center;
    margin: 0 auto;
}
h1{
    font-size: 50px;
}

hr{
    width: 35rem;
}
#test{
    background-color: #c5c5c5;
    width: 50%;
    margin: 0 auto;
    
}
#vendegev{
    width: 1rem;
}
li{
    list-style: none;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto ;
    width: 30rem;
    margin: 0 auto;
    text-align: left;
    
    
    
  }

.elsooszlop{
    width: 10rem;
}

.masodikoszlop{
    width: 15rem;
}
#ebbeirsz{
    height: 100px;
    width: 20rem;
    text-align: left;
}

@media only screen and (max-width: 1200px) {
    #ebbeirsz{
        height: 100px;
        width: 18rem;
        
    }
    hr{
        width: 30rem;
    }
    
  }

  @media only screen and (max-width: 1050px) {
    #ebbeirsz{
        height: 100px;
        width: 15rem;
        
    }
    .elsooszlop{
        width: 8rem;
        font-size: 0.9em;
    }
    
    .masodikoszlop{
        width: 15rem;
        font-size: 0.9em;
    }
    .betumeret{
        font-size: 0.9em;
        width: 15rem;
    }
  
  }
  @media only screen and (max-width: 1000px) {
    
    #test{
        
        width: 60%;
        
        
    }
    hr{
        width: 28rem;
    }
  }
  @media only screen and (max-width: 760px) {
    
    
    hr{
        width: 90%;
    }

    #ebbeirsz{
        
        width: 12rem;
        
    }
    .elsooszlop{
        width: 5rem;
        font-size: 0.8em;
    }
    
    .masodikoszlop{
        width: 15rem;
        font-size: 0.8em;
    }
    .betumeret{
        font-size: 0.8em;
        width: 15rem;
    }
    h1{
        font-size: 40px;
    }

  }
  @media only screen and (max-width: 760px) {
    
  
    #ebbeirsz{
        
        width: 10rem;
        
    }
    .elsooszlop{
       
        font-size: 0.6em;
    }
    
    .masodikoszlop{
       
        font-size: 0.6em;
    }
    .betumeret{
        font-size: 0.6em;
        width: 15rem;
    }
    h1{
        font-size: 40px;
    }

  }
  @media only screen and (max-width: 550px) {
    
  
    #ebbeirsz{
        
        width: 8rem;
        
    }
    .elsooszlop{
        
        font-size: 0.5em;
    }
    
    .masodikoszlop{
       
        font-size: 0.5em;
    }
    .betumeret{
        font-size: 0.5em;
        
    }
    .grid-container {
        column-width: 0px;
        column-gap: 0.4em;
        padding: 0px;
        
        
      }

  }