body{
    text-align: center;
    margin: 0 auto;
}
table{
    margin: 0 auto;
    text-align: left;
    width: 40%;
}

hr{
    width: 60%;
}
#test{
    background-color: #c5c5c5;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
#vendegev{
    width: 40%;
}
li{
    list-style: none;
}
.th1{
    width: 35%;
}
